@page
@model IndexModel
@{
	ViewData["Title"] = "DudesPlayer";
}

<div class="text-center">
	<h1 class="display-4">DudesPlayer</h1>
	<h2 class="display-4">пиздатый плеер для крутых челов</h2>
</div>
<div class="text-center" style="height: 300px;vertical-align:bottom;margin:100px;">
	<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" style="
padding:25px;margin:25px;
  text-decoration: none;
  background-color: #d3205a0d;
  color: #000000;
  border-top: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
font-weight: 500;">
		CLICK ME DADDY!!!
	</a>


</div>